.c{
    height: 260px;
    width: 260px;
    border-radius: 20px;
    background: linear-gradient(to top left, #ffffffff, #ffffff33);
    backdrop-filter: blur(8px);
    box-shadow: 2px 2px 5px #2773a5;
    overflow: hidden;
    transition: all ease 0.6s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}

.c h2{
    font-size: 1rem;
    font-family: 700;
}

.t span{
    margin-top: 15px;
    margin-left: 5px;
}

.t img{
    height: 15px;
    margin-top: 15px;
    
}

.link{
    text-decoration: none;
}

.link i{
    width: 44px;
    height: 44px;
    border: 1px solid #181a1e;
    border-radius: 999px;
}

.link i:hover{
    background-color: #2773a5;
    border: none;
    color: #fff;
}